name: "ci"
on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: node --version
      - run: npm ci
      - run: npm test

  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          path: "./fixtures/lcov.100.info"
      - uses: ./
        with:
          path: "./fixtures/lcov.95.info"
          min_coverage: 90
      - uses: ./
        with:
          path: "./fixtures/lcov.95.info"
          exclude: "**/*_observer.dart"
      - uses: ./
        with:
          path: "./fixtures/lcov.95.info"
          exclude: "**/whatever.dart **/*_observer.dart **/does_not_matter.dart"
